@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');
* {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

body {
    background-color: #FFF9ED;
    background-image: url("../img/gatoError.jpg");
    background-size: cover;
}

h1 {
    margin: 50px auto;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.alinear {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4e4e4e9f;
    flex-direction: column;
}

.miau {
    background-image: url("../img/gatoError2.jpg");
}

button {
    background-color: rgb(43, 159, 226);
    border: 1px solid rgb(43, 159, 226);
    border-radius: 5px;
    padding: 10px 15px;
}

button:hover {
    background-color: rgb(170, 224, 255);
    border: 1px solid rgb(170, 224, 255);
}